html, body {
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-transform: uppercase;
  background-image: linear-gradient(to bottom right, rgb(0, 0, 82), rgb(1, 1, 15));
  color: rgba(240, 240, 240, .75);
  padding: 0 1rem 1rem 1rem;
}
input {
  margin-right: .5rem;
}
section {
  max-width: 800px;
  margin: 1rem;
  text-align: center;
  border: .1rem lightgray solid;
}
aside {
  display: flex;
  justify-content: space-evenly;

}

@media (min-width: 800px) {
  header {
    display: flex;
    justify-content: space-between;
  }
  h1, h2 {
    margin: 0;
    padding: 0;
  }
}
